.drop{
	display: inline;
}
.logo{
	padding-left: 50px;
	margin-left: 50px;
	text-align: right;
}

.main{
	background-color: #3b5998;

}

.dp {
	width: 30px;
	height: 30px;
	background-image: url(../images/dp.jpg);
}

.headerLogo
{
	height: 50px;
}

#profileAlign {

	padding-top: 10px;
	font-size: 16px;
}

.input1 {
	line-height: normal;
	margin-top: 8px;
}
.button1
{
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	margin-top: 8px;
}
.dpPhoto
{
	height: 30px;
	width: 30px;
}


a {
	color: #293e6a;

}

a:hover, a:focus {
	color: #FFF;
	text-decoration: none;
}

.fbPost{
	background-color: white;
	margin:8px;
	padding: 10px;
}

.btn-danger {
	background-repeat: repeat-x;
	border-color: #B92C28;
	background-image: linear-gradient(to bottom, #D9534F 0%, #C12E2A 100%);
}

.grey-text{
	color: gray;
}

.news{
	color: black;
}
.right{
	text-align: right;
	font-style: bold;
	color: rgba(0, 0, 0, .5);
	font-size: 100%;
}

#hover-content {
	display:none;
	width: 100%;
	min-width: 10px;
	max-width: 190px;
	padding-left: 65px;
}

#parent:hover #hover-content {
	display:inline;
	text-align: right;
	min-width: 10px;
	max-width: 190px;

}

.groupicon{
	color: white;
	border-radius: 3px;
	font-size: 13px;
	background-color: #3b5998;
}



.newText{
	color: rgba(0, 0, 0, .355);
	text-decoration: shadow;
	line-height: 2;
	height: 10px;
}

.links
{
	display: inline;
	text-decoration:none;
}

.link{
	color: black;
}

.link:hover{
	color: black;
	text-decoration: underline;
}

body{
	background-color: #dfe3ee;
}

#upload_link{
	text-decoration:none;
}

#upload{
	display:none
}

#sticky {

	color: #fff;
	font-size: 2em;

}
#sticky.stick {
	position: fixed;
	top: 0;
	z-index: 6;
	border-radius: 0 0 0.5em 0.5em;
}





.wrapper {
	text-align: center;
	position: relative;
	height: 80px;
	font-size: 0;
	top: 50%;
	transform: translateY(-50%);
}

.search {
	padding: 0 30px;
	font-size: 18px;
	width: 60%;
	max-width: 400px;
	height: 35px;
	border: 1px solid darken(white, 30%);
	border-radius: 5px 5px 5px 5px;
}
.submit {
	cursor: pointer;
	border: none;
	background: url('http://thesuiteworld.com/wp-admin/maint/search-icon-white-png-540.png') no-repeat center center, #E5E5E5;
	background-size: 35px 35px;
	border-radius: 5px 5px 5px 5px;
	padding: 20px 25px;
	display: inline-block;
	width: 40px;
	height: 35px;
}